<div class="admin">
  <div class="form-group">
    <dl class="dl-horizontal" id="concepts-exercise-<%= params[:teaching_id]%>">
      <div id="available-concepts-<%= params[:teaching_id] %>">
        <!--%= render partial: 'availableConcepts', :locals => { id: params[:teaching_id], :concepts => @concepts, :concept => @concept} %-->
        <% if concepts.any? %>
            <%= form_for concept, url: {
                                        controller: 'administrations/teachings',
                                        action: :addconcept}, method: :post, remote: true do |f| %>
                <dt><%= f.label :name, "Pridat koncept" %></dt>
                <dd>
                  <%= f.select :name, concepts.map {|c| [c.name, c.id]} %>
                  <%= submit_tag "Pridat", class: :btn, data: { disable_with: t('global.texts.saving') } %>
                </dd>
            <% end %>
        <% end %>
      </div>
      <div class="concept-list" id="concept-list-<%= params[:teaching_id]%>">
        <!--%= render partial: 'conceptlist', :locals => { id: params[:teaching_id], :concepts => @exercise_concepts} %-->
        <% exercise_concepts.each do |c| %>
            <div class="concept">
              <%= c.name %>
              <%= link_to '<i class="icon-delete"></i>'.html_safe, :controller => "administrations/teachings", :action => "deleteconcept", :remote => true, :id => c.id%>
            </div>
        <% end %>
      </div>
    </dl>
  </div>
</div>