<nav class="question-nav not-zoomable">
  <%= render 'shared/user_element_admin' %>
  <div class="mobile-content wide">
    <h2><%= Setup.first.name %> - administrácia</h2>
    <a href="<%=url_for administrations_teachings_path %>"><i class="nav-right-icons icon-level-up"></i></a>
    <a class="user-element-cta"><i class="nav-right-icons icon-menu"></i></a>
  </div>
</nav>
<hr class="nav-offset not-zoomable">
<div class="container">
  <div class="tabs">
    <ul id="editor-tabs" class="tablist" role="tablist">
      <li class="active"><a href="#" data-target="#question-settings" role="tab" id="question-tab" data-toggle="tab">Nastavenia termínu</a></li>
      <li class="icon"><%= link_to('<i class="icon-delete"></i>'.html_safe,
                                   administrations_teaching_path(id: @exercise.id),
                                   class: 'delete-lo',
                                   method: :delete,
                                   data: {
                                           confirm: 'Naozaj chcete odstrániť tento termin?',
                                           toggle: :tooltip
                                   },
                                   title: t('global.links.remove')) %></li>
    </ul>
    <div id="editor-tabs-content" class="tab-content is-first">
        <div role="tabpanel" class="tab-pane active" id="question-settings">
          <div class="admin">
            <div class="form-group">
              <dl class="dl-horizontal">
                <%= form_for @exercise, url: administrations_teaching_update_path, method: :patch do |f|%>
                    <dt><%= f.label :user_id, t('admin.teaching.labels.teacher') %>
                    <dd><%= f.select :user_id, @teachers.map {|t| ["#{t.first_name} #{t.last_name} (#{t.login})", t.id]}%></dd>

                    <dt><%= f.label :week_id, t('admin.teaching.labels.week') %></dt>
                    <dd><%= f.select :week_id, Week.all.map {|w| [w.number, w.id]}%></dd>

                    <dt><%= f.label :start, t('admin.teaching.labels.start') %></dt>
                    <dd><%= f.datetime_select :start %></dd>

                    <dt><%= f.label :end, t("admin.teaching.labels.end") %></dt>
                    <dd><%= f.datetime_select :end %></dd>

                    <dt><%= f.label :code, t('admin.teaching.labels.code') %></dt>
                    <dd><%= f.number_field :code, class: "question_text_field code-field" %></dd>

                    <%= f.fields_for :options, OpenStruct.new(f.object.options || {}) do |fo|%>
                        <dt><%= fo.label :test_length, t('admin.teaching.labels.test_length')%></dt>
                        <dd><%= fo.number_field :test_length, class: "question_text_field" %></dd>

                        <dt><%= fo.label :cooldown_time, t('admin.teaching.labels.cooldown_time')%></dt>
                        <dd><%= fo.number_field :cooldown_time, class: "question_text_field" %></dd>

                        <dt><%= f.label :concepts, t('admin.teaching.labels.concepts') %></dt>
                        <dd><%= f.select :concepts, Concept.all.map {|c| [c.name, c.id]},
                                         { include_blank: false, selected: @exercise.concepts.map(&:id) },
                                         { class: "chosen-select", :style => "width: 100%", :multiple => true} %>
                        </dd>

                        <dt><%= fo.label :exercise_concepts, t('admin.teaching.labels.exercise_concepts')%></dt>
                        <dd><%= fo.check_box :exercise_concepts %></dd>

                        <dt><%= fo.label :week_concepts, t('admin.teaching.labels.week_concepts')%></dt>
                        <dd><%= fo.check_box :week_concepts %></dd>
                    <% end %>
                    <dt></dt>
                    <dd>
                      <%= submit_tag t('global.links.save_changes'), class: :btn, data: { disable_with: t('global.texts.saving') } %>
                      <%= button_tag t('global.links.discard_changes'), class: :btn, type: :reset %>
                    </dd>
                <% end %>
              </dl>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>