<nav class="question-nav not-zoomable">
  <%= render 'shared/user_element_admin' %>
  <div class="mobile-content wide">
    <h2><%= Setup.first.name %> - <%= t '.navbar_heading' %></h2>
    <a href="<%=url_for administration_path %>"><i class="nav-right-icons icon-level-up"></i></a>
    <a class="user-element-cta"><i class="nav-right-icons icon-menu"></i></a>
  </div>
</nav>
<hr class="nav-offset not-zoomable">
<div id="header-panel" class="admin">

  <div class="buttons">
    <%= link_to "+ "+t('.label.add_teaching'), new_administrations_teaching_path, class: 'btn' %>
  </div>

  <div class="tools">
  </div>

</div>
<div id="questions-list" class="admin">
  <% @exercises.each do |exercise| %>
      <div id="user" class="question row">
        <div class="question-tools">
          <%= link_to('<i class="icon-edit"></i>'.html_safe, edit_administrations_teaching_path(exercise), title: t('.tooltip.edit'), data: { toggle: :tooltip }) %>
        </div>
        <div class="question-icon"><i data-toggle="tooltip" title="<%= t '.tooltip.term' %>" class="icon-calendar-1"></i></div>
        <div class="question-headline">
          <div class="title"><%= t '.label.term' %> <%= exercise.start.strftime("%d.%m.%Y %H:%M") %></div>
          <div class="text"><%= exercise.user.first_name + " " + exercise.user.last_name %></div>
        </div>
      </div>
  <% end %>
</div>