<nav class="without-icons not-zoomable">
  <%= render 'shared/user_element' %>
  <div class="mobile-content">
    <h2><%= @setup.name %> - test</h2>
    <a class="user-element-cta"><i class="nav-right-icons icon-menu"></i></a>
  </div>
</nav>
<hr class="nav-offset not-zoomable">
<form method="post" id="test-form" action="<%= submit_test_path %>"  class="question-form" data-remote>
  <% @sorted_los.each do |lo| %>
      <input type="hidden" name="questions[<%=lo.id%>][type]" value="<%= lo.type %>">
      <input type="hidden" name="questions[<%=lo.id%>][commit]" value="<%= "send_answer" %>">
      <div class="my-mobile-content main">
        <div class="card-text">
          <br>
          <p><%= replace_whitespace(lo.question_text) %></p></div>
        <% unless lo.image.nil? %>
            <%= image_tag qimages_url(@week.id,lo.id), class: 'question-image', alt: 'Obrázok' %>
        <% end %>
        <div id="question-options">
          <% case lo.type
               when 'SingleChoiceQuestion' %>
              <% @question= lo%>
              <%= render 'test_single_q' %>
          <% when 'MultiChoiceQuestion' %>
              <% @question= lo%>
              <%= render 'test_multi_q' %>
          <% when 'OpenQuestion' %>
              <% @question= lo%>
              <%= render 'test_open_q'%>
          <% when 'EvaluatorQuestion' %>
              <% @question= lo%>
              <%= render 'test_eval_q' %>
          <% when 'PhotoQuestion'%>
              <% @question= lo%>
              <%= render 'test_photo_q' %>
          <% end %>
        </div>
      </div>
  <% end %>


  <button class="question-button question-button-red" id="clickButton" value="submit_test" style="background: transparent;border: none !important;"/>
</form>
<button class="question-button question-button-red"  onclick="getConfirmation()" >Odovzdaj test</button>

<div id="modal">
  <div class="modal-content">
    <div class="copy">
      <p>Nevyplnil si všetky otázky. Chceš aj napriek tomu odovzdať test?</p>
      <button class="form-buttons" onclick="clickYes()">áno</button>
      <button id="unconfirmB" onclick="hide()">nie</button>
    </div>
  </div>
  <div class="overlay"></div>
</div>
