
<%= render 'testnav' %>
<hr class="test-offset not-zoomable">


<form method="post" action="<%= submit_test_path %>" id="test-form" class="question-form" data-remote>
<% @sorted_los.each do |lo| %>
<input type="hidden" name="questions[<%=lo.id%>][type]" value="<%= lo.type %>">
<input type="hidden" name="questions[<%=lo.id%>][commit]" value="<%= "send_answer" %>">
<div class="my-mobile-content main">
  <p class="card-text">
    <%= lo.question_text %>
    <% unless lo.image.nil? %>
        <%= image_tag qimages_url(@week.id,lo.id), class: 'question-image', alt: @question.lo_id+' Obrázok' %>
    <% end %>

      <div id="question-options">
          <% case lo.type
               when 'SingleChoiceQuestion' %>
            <% @question= lo%>
            <%= render 'test_single_q' %>
          <% when 'MultiChoiceQuestion' %>
            <% @question= lo%>
            <%= render 'test_multi_q' %>
          <% when 'OpenQuestion' %>
            <% @question= lo%>
            <%= render 'test_open_q' %>
          <% when 'EvaluatorQuestion' %>
             <!--- SHOULD NOT HAPPEN---->
            <!--- NOT WORKING, WILL BE REMOVED--->
          <% end %>
      </div>
  </p>
</div>
<% end %>

<button class="question-button question-button-red" name="commit" value="submit_test">Odovzdaj test</button>
</form>

