<div id="faux-background" class="mobile-content"></div>
<nav class="without-icons not-zoomable">
  <%= render 'shared/user_element' %>
  <div class="mobile-content">
    <h2><%= @setup.name %></h2>
    <a class="user-element-cta"><i class="nav-right-icons icon-menu"></i></a>
  </div>
</nav>
<hr class="nav-offset not-zoomable">


<div class="mobile-content main">
  <% if !@exercises.any? %>
      Žiadne odovzdané testy!
  <% end %>
  <% @exercises.each do |e| %>
      <a href="<%= url_for controller: 'questions', action: 'show_answers', exercise_code: e.code %>"
         class="card <%= 'week-current' if e.week.actual? %>">
        <h3 class="card-header"><%= e.week.number %>. týždeň - TEST<%= '(nedostupný)' if e.unavailable_answers? %><date class="week-date"><%=
            e.week.start_at.strftime("%-d.%-m.")  %> - <%= e.week.end_at.strftime("%-d.%-m.%Y") %></date></h3>
      </a>
  <% end %>
</div>