<nav class="question-nav not-zoomable">
  <%= render 'shared/user_element_admin' %>
  <div class="mobile-content wide">
    <h2><%= Setup.first.name %> - administrácia</h2>
    <a href="<%=url_for administration_path %>"><i class="nav-right-icons icon-level-up"></i></a>
    <a class="user-element-cta"><i class="nav-right-icons icon-menu"></i></a>
  </div>
</nav>
<hr class="nav-offset not-zoomable">
<div id="header-panel" class="admin">

  <div class="buttons">
    <%= link_to '+ '+t(".label.add_question"), new_administrations_learning_object_path(course: @course), class: 'btn' %>
    <a data-toggle="modal" data-target="#Modal" data-backdrop="static" data-keyboard="false" class="btn">+ <%= t '.label.import_questions' %></a>
    <%= render "import" %>
  </div>


  <div class="tools">
  </div>

</div>
<div id="questions-list" class="admin">
  <%= render partial: 'learning_object', collection: @questions, as: :learning_object %>
</div>
