<%= form_tag feedback_path, method: 'post', remote: true do %>
    <div id="contact">
      <div id="contact-text">
      Napíšte komentár<br>
      URL <%= request.original_url %>
      </div>
      <%= text_area_tag :message, '', id: 'contact-textarea' %>
      <% if controller_name.eql?('questions') && action_name.eql?('show') %>
          <input type="hidden" name="question_id" value="<%= @question.id %>">
      <% end %>
      <div id="contact-button-field">
        <button id="contact-send-btn">Odoslať</button>
        <button id="contact-cancel-btn">Zrušiť</button>
      </div>
    </div>
<% end %>
<div id="user-element" class="not-zoomable">
  <div class="mobile-content">
    <div id="name"><%= current_user.first_name + ' ' + current_user.last_name %></div>
    <% if can? :manage, :administration %>
        <%= link_to raw("<i class='icon-admin'></i>Administrácia"), administration_path, class: 'user-panel-button' %>
    <% end %>
    <% if can? :manage, :teaching %>
        <%= link_to raw("<i class='icon-table'></i>Učenie"), teaching_path, class: 'user-panel-button'+is_active_page(@exercises, controller_name+"/"+action_name)  %>
    <% end %>
    <% if current_user.student? %>
        <%= link_to raw("<i class='icon-graduation-cap'></i>Učenie"), weeks_path, class: 'user-panel-button'+is_active_page(@weeks, controller_name+"/"+action_name) %>
        <%= link_to raw("<i class='icon-play'></i>Spustiť test"), enter_test_path, class: 'user-panel-button'+is_active_page(@exercise, controller_name+"/"+action_name) %>
        <%= link_to raw("<i class='icon-history'></i>Odovzdané testy"), tests_path, class: 'user-panel-button'+is_active_page(@exercises, controller_name+"/"+action_name) %>
    <% end %>
    <a class="user-panel-button" id="contact-btn"><i class="icon-mail"></i>Spätná väzba</a>
    <%= link_to raw("<i class='icon-logout'></i>Odhlásiť"), destroy_user_session_path, :method => :delete, class: 'user-panel-button' %>
  </div>
</div>

