<nav class="question-nav not-zoomable">
  <%= render 'shared/user_element_admin' %>
  <div class="mobile-content wide">
    <h2><%= Setup.first.name %> - administrácia</h2>
    <a href="<%=url_for administrations_users_path %>"><i class="nav-right-icons icon-level-up"></i></a>
    <a class="user-element-cta"><i class="nav-right-icons icon-menu"></i></a>
  </div>
</nav>
<hr class="nav-offset not-zoomable">
<div class="container">
  <div class="tabs">
    <div role="tabpanel" class="tab-pane active" id="question-settings">
        <% if @user.type == "LocalUser" %>
            <%= render "localUser"%>
        <% else %>
            <%= render "ldapUser" %>
        <% end %>
    </div>
  </div>
</div>