<nav>
  <div class="admin-nav">
    <h2>Administrácia</h2>
    <%= link_to "Domov", root_path, class: 'admin-nav-button' %>
  </div>
</nav>
<hr class="nav-offset">
<div id="header-panel" class="admin">

  <div class="buttons">
    <%= link_to "+ #{t('admin.user.links.create')}", new_administrations_user_path, class: 'btn' %>
  </div>

  <div class="tools">
  </div>

</div>
<div id="questions-list" class="admin">
  <% @users.each do |user| %>
      <div id="user" class="question row">
        <div class="question-tools">
          <%= link_to('<i class="icon-edit"></i>'.html_safe, edit_administrations_user_path(user)) %>
        </div>
        <div class="question-icon"><i data-toggle="tooltip" title="user" class="icon-user"></i></div>
        <div class="question-headline">
          <div class="title"><%= link_to user.login, edit_administrations_user_path(user) %></div>
          <div class="text"><%= user.first_name + " " + user.last_name %></div>
        </div>
      </div>
  <% end %>
</div>