<nav class="question-nav not-zoomable">
  <%= render 'shared/user_element_admin' %>
  <div class="mobile-content wide">
    <h2><%= Setup.first.name %> - <%= t '.navbar_heading' %></h2>
    <a href="<%=url_for administrations_users_path %>"><i class="nav-right-icons icon-level-up"></i></a>
    <a class="user-element-cta"><i class="nav-right-icons icon-menu"></i></a>
  </div>
</nav>
<hr class="nav-offset not-zoomable">
<div class="container">
  <div class="tabs">
    <div role="tabpanel" class="tab-pane active" id="question-settings">
        <%= form_for @user, url: administrations_users_path, method: :post do |f| %>
            <div class="admin">
              <div class="form-group">
                <dl class="dl-horizontal">
                  <dt><%= f.label :login %></dt>
                  <dd><%= f.text_field :login, class: "question_text_field" %></dd>

                  <dt><%= f.label :type %></dt>
                  <dd><%= label_tag t 'activerecord.values.user.type.localuser' %></dd>
                  <%= f.hidden_field :type, :value => LocalUser %>

                  <dt><%= f.label :role %></dt>
                  <dd><%= f.select(:role, options_for_select(User::ROLES.map { |id, role|
                                                               [t("activerecord.values.user.role.#{role}"), role]
                                                             }, @user.role), class: 'form-control') %></dd>
                  <dt><%= f.label :first_name %></dt>
                  <dd><%= f.text_field :first_name, class: "question_text_field" %></dd>

                  <dt><%= f.label :last_name %></dt>
                  <dd><%= f.text_field :last_name, class: "question_text_field" %></dd>

                  <dt><%= f.label :email %></dt>
                  <dd><%= f.email_field :email, class: "question_text_field" %></dd>

                  <dt><%= f.label :password %></dt>
                  <dd><%= f.password_field :password, class: "question_text_field" %></dd>

                  <dt><%= f.label :confirm_password %></dt>
                  <dd><%= f.password_field :confirm_password, class: "question_text_field" %></dd>

                  <dt></dt>
                  <dd>
                    <%= submit_tag t('global.links.save_changes'), class: :btn, data: { disable_with: t('global.texts.saving') } %>
                    <%= button_tag t('global.links.discard_changes'), class: :btn, type: :reset %>
                  </dd>

                </dl>
              </div>
            </div>
        <% end %>
    </div>
  </div>
</div>