<nav class="question-nav not-zoomable">
  <%= render 'shared/user_element_admin' %>
  <div class="mobile-content wide">
    <h2><%= Setup.first.name %> - administrácia</h2>
    <a class="user-element-cta"><i class="nav-right-icons icon-menu"></i></a>
  </div>
</nav>
<hr class="nav-offset not-zoomable">

<div class="admin">
  <h3>Nastavenia setupov</h3>
  <ul>
  <% @setups.each do |s| %>
    <li><%= link_to s.name, setup_config_path(s.id), class: "admin-link" %></li>
  <% end %>
  </ul>
</div>

<div class="admin">
  <h3>Nastavenia kurzov</h3>
  <ul>
    <% @courses.each do |c| %>
        <li><%= link_to c.name, question_concept_config_path(c.id), class: "admin-link" %></li>
    <% end %>
  </ul>
</div>

<div class="admin">
  <h3>Správa obsahu otázok</h3>
  <ul>
    <% @courses.each do |c| %>
        <li><%= link_to c.name, administrations_learning_objects_path(course: c.id), class: "admin-link", id: "learning-objects#{c.id}" %></li>
    <% end %>
  </ul>
</div>

<div class="admin">
  <h3>Správa používateľov</h3>
  <ul>
    <li><%= link_to "Používatelia", administrations_users_path, class: "admin-link", id: "users" %></li>
  </ul>
</div>

<div class="admin">
  <h3>Správa termínov</h3>
  <ul>
    <li><%= link_to "Termíny", administrations_teachings_path, class: "admin-link", id: "users" %></li>
  </ul>
</div>