<nav class="question-nav not-zoomable">
  <%= render 'shared/user_element_admin' %>
  <div class="mobile-content wide">
    <h2><%= Setup.first.name %> - administrácia</h2>
    <a href="<%=url_for administration_path %>"><i class="nav-right-icons icon-level-up"></i></a>
    <a class="user-element-cta"><i class="nav-right-icons icon-menu"></i></a>
  </div>
</nav>
<hr class="nav-offset not-zoomable">

<div class="admin">
  <h3><%= t '.students_activity' %></h3>
  <ul><%= link_to "#{@setup.name} "+t('.label.stats'), download_statistics_path(:_setup_id => @setup.id), class: "admin-link" %></ul>
</div>
<div class="admin">
  <h3><%= t '.main_settings'%></h3>
  <%= form_for @setup, url: url_for(setup_attributes_path), html: {method: 'post'} do |s| %>
      <table>
        <tr><th class="th-right"><%= s.label :week_count %></th><td><%= s.text_field :week_count %></td></tr>
        <tr><th class="th-right"><%= s.label :first_week_at %></th><td><%= date_select :setup, :first_week_at %></td></tr>
        <tr><th class="th-right"><%= s.label :show_all %></th><td><%= s.check_box :show_all %></td></tr>
      </table>
      <%= s.submit "Uložiť" %>
  <% end %>
</div>
<div class="admin">
  <h3><%= t '.concepts_settings' %></h3>
  <%= form_tag url_for(setup_relations_path), html: {method: 'post'} do %>
      <table id="week-concept-table">
        <tr>
          <th><%= t '.label.concept_name' %></th>
          <% @weeks.each do |w| %>
              <th>
                <%= w.number %>
              </th>
          <% end %>
        </tr>
        <% @concepts.each do |c| %>
            <tr>
              <td>
                <%= c.name %> (<%= c.question_count %>)
              </td>
              <% @weeks.each do |w| %>
                  <td <%= if w.actual?; 'class="active"'.html_safe; end %>>
                    <%= check_box_tag "relations[#{c.id}][#{w.id}]", "1", (w.id.in? c.weeks.map(&:id)), class: "week-concept", 'data-week' => w.id %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        <tr>
          <th><%= t '.label.questions_count' %></th>
          <% @weeks.each do |w| %>
              <td>
                <%= w.question_count %>
              </td>
          <% end %>
        </tr>
        <tr>
          <th><%= t '.label.select_all' %></th>
          <% @weeks.each do |w| %>
              <td>
                <%= check_box_tag "switch_all", nil, false, class: "switch-all", 'data-week' => w.id %>
              </td>
          <% end %>
        </tr>
      </table>
      <%= submit_tag "Uložiť" %>
  <% end %>
</div>
