<nav class="without-icons not-zoomable">
  <%= render 'shared/user_element' %>
  <div class="mobile-content">
    <h2><%= @setup.name %> - stránka učiteľa</h2>
    <a class="user-element-cta"><i class="nav-right-icons icon-menu"></i></a>
  </div>
</nav>
<hr class="nav-offset not-zoomable">
<br>
<div class="exercise-general">

<div class="my-mobile-content main">
  <br>
  <center><b>Zoznam cvičení</b></center>

  <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;}
      .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 10px 10px 10px ;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
      .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 10px 10px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
      .tg .tg-yw4l{vertical-align:top}
  </style>
  <center>
  <table class="tg">
    <tr>
      <th class="tg-yw4l">Týždeň</th>
      <th class="tg-yw4l">Deň</th>
      <th class="tg-yw4l">Čas<br></th>
      <th class="tg-yw4l">Stav<br></th>
      <th class="tg-yw4l">Štart/Výsledky</th>
    </tr>
    <%
        wb= false # week before
        ab= false  # all before (without week before, obviously)
        wa= false  # week after
        aa= false  # all after
    %>
    <% @exercises.each do |c| %>
        <% if c.week.number < @actual_week.number-1  && !ab %> <%# all other weeks before%>
            <tr> <td colspan="5">  <a  class="show_hidden" name="1,<%= @actual_week.number-2%>">Zobraz ostatné predchádzajúce týždne</a></td></tr>
            <% ab= true%>
        <% end%>
        <% if c.week.number  == @actual_week.number-1  && !wb %> <%# one week before %>
            <tr> <td colspan="5">  <a  class="show_hidden" name="<%= c.week.number%>,<%= c.week.number%>">Zobraz posledný týždeň</a></td></tr>
            <% wb= true%>
        <% end%>
        <% if c.week.number == @actual_week.number+1  && !wa %> <%# one week after %>
            <tr> <td colspan="5">  <a  class="show_hidden" name="<%= c.week.number%>,<%= c.week.number%>">Zobraz nadchádzajúci týždeň</a></td></tr>
            <% wa= true%>
        <% end%>
        <% if c.week.number > @actual_week.number+1  && !aa %> <%# all other weeks after %>
            <tr> <td colspan="5">  <a  class="show_hidden" name="<%= @actual_week.number+2%>,<%= 13%>">Zobraz ostatné nadchádzajúce týždne</a></td></tr>
            <% aa= true%>
        <% end%>
        <tr class="hiddenBlock" id= "<%= c.week.number%>">
          <td class="tg-yw4l"><%= c.week.number %></td>
          <td class="tg-yw4l">

            <%=case c.start.wday
                 when 1
                   "Pondelok"
                 when 2
                   "Utorok"
                 when 3
                   "Streda"
                 when 4
                   "Štvrtok"
                 when 5
                   "Piatok"
                 else
                   "Toto sa nestane"
               end %>

          </td>

          <td class="tg-yw4l"><%= c.start.strftime("%H:%M") %></td>
          <td class="tg-yw4l">

            <% if c.real_start && !c.real_end %> Prebieha
                <%elsif c.real_end %> Ukončený
                <%else %> Nezačal
                <% end %>

          </td>
          <td class="tg-yw4l"><%=  if (!c.real_start && !c.real_end)  then  link_to 'Spustiť', exercises_show_path(:id => c.id, :real_start=> Time.current) else link_to 'Vstúpiť', exercises_show_path(:id => c.id) end %></td>
        </tr>
    <% end %>
  </table>
</center>
  <br>
</div>
  </div>