<%= render 'nav' %>
<hr class="nav-offset not-zoomable">
<div class="question-name not-zoomable">
  <div class="mobile-content">
  </div>
</div>
<br>
    <div class="exercise-general">
      <% if !@exercise.real_start %>
          <div class="my-mobile-content main">
            <div class="title_exercises"><b>Test zatiaľ nebol spustený</b></div><br>
            <div class="title_small_exercises"> Kód testu: <b><%= @exercise.code %></b></div><br>
          </div>
          <%= form_for @exercise do |f| %>
              <%= f.hidden_field :real_start, :value => Time.current %>
              <%= f.submit "Spustiť" ,id: "teacher-submit"%>
          <%end%>
      <% elsif !@exercise.real_end %>
          <div class="my-mobile-content main">
            <br>
            <div class="title_exercises"><b>Test práve prebieha</b></div>
            <div id="timer-<%= params[:id]%>">
              <%= render partial: 'timer', :locals => { :time => @exercise.test_time_left }%>
            </div>
            <div class="title_small_exercises"> Kód testu: <b><%= @exercise.code %></b><br>
              <div class="title_smaller_exercises"><br></div>
          <b><%= url_for :action => 'show_test', :controller => 'questions', :exercise_code => @exercise.code , :only_path => false %></b></a>
              <div class="title_smaller_exercises"><br></div>
          <div id="counter<%= params[:id] %>">
            <%= render partial: 'counter', :locals => { id: params[:id], :data => 0} %>
          </div>
          <br></div>
          <div class="qr">
            <%= image_tag("/assets/qrcode" + params[:id] + ".png")%>
          </div>
          </div>
          <%= form_for @exercise do |f| %>
              <%= f.hidden_field :real_end, :value => Time.current %>
              <%= f.submit "Ukončiť", :onsubmit => "clearInterval(myId)", id:"teacher-submit"%>
          <%end%>
      <% else %>
          <div class="my-mobile-content main">
            <br>
            <div class="title_exercises"><b>Test bol ukončený</b></div>
            <br>
          </div>
          <%= form_for @exercise do |f| %>
              <%= f.hidden_field :real_end, :value => Time.current %>
              <%= f.submit "Prejsť na štatistiky", :name => "stats" , id: "teacher-submit"%>
              <%= f.submit "Prejsť na výsledky", :name => "results" , id: "teacher-submit"%>
              <%= f.submit "Exportovať odpovede", :name => "answers" , id: "teacher-submit"%>
              <%= f.submit "Spustiť znovu", id: "teacher-submit"%>
          <%end%>
          <%#= render 'attendance' %>
      <% end %>

    </div>
